@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-family: 'Josefin Sans', sans-serif !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
